<!DOCTYPE html>
<html>
<head>
</head>
<body>
  		<h1> So now name, we have the main categories ready and we want to ask you for more details so we can organize everything for you </h1>

      <h3> 1. How much do you spend on your house (electricity, internet, water etc...) per month?</h3>
      <form action="/profile_mar2w" method="POST">
      <input type="text" name="house" placeholder="Type a number">

      <h3> 2. How much do you spend on your husband per month? </h3>
      <input type="text" name="partner" placeholder="Type a number">

      <h3> 3. How much do you spend on your kids per month? </h3>
      <input type="text" name="kids" placeholder="Type a number">
    

      <h3> 3. And lastly how much is your salary?</h3>
      <input type="text" name="salary" placeholder="Type a number">
      <input type="submit" value="Submit">
      </form>

    

      

</body>
</html>