<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <h3> 1. Are you a man or a woman ? </h3>
  <form action="/create" method="POST">
  <input type="text" name="gender" placeholder="Man/Woman">

  <h3> 2. Are you married or unmarried? </h3>
  <input type="text" name="social" placeholder="married/unmarried">

  <!-- <h3> 3. How much is your salary? </h3>
  <input type="number" name="salary" placeholder="Type a number"> -->

  <h3> 3. Do you have kids? </h3>
  <input type="text" name="family" placeholder="Yes/No">
  <input type="submit" value="Submit"> 
  </form>










</body>
</html>
